.sidebar{
  display: absolute;
  background-color: #4A89F3;
  cursor: default;
  font-size: 15px;
  position: absolute;
  width: 35%;
  height: 100%;
  right: 0px;
  top: 0px;
  z-index: 10;
}

.sidebar-content{
  margin-left: 20px;
}

img{
width: 350px;
height: 350px;
margin: 15px;
}

button{
  margin-top: 20px;
  margin-left: 85px;
  border-radius: 22px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

body{
  margin: 0;
  padding:0;
}

#map{
  position: absolute;
  height: 100%;
  width: 65%;
}

#suakin-info{
  display: none;
}

#national-museum-info{
  display: none;
}

#sail-club-info{
  display: none;
}

#pyramids-info{
  display: none;
}

#president-info{
  display: none;
}

#main-info{
  display: block;
  font-family: serif, Garamond;
}

#future{
  display: none;
}

.swipe{
  overflow:auto;
  white-space:nowrap;
}

.one-btn{
  margin-left: 150px;
}

.font1{
  font-family: serif, Garamond;
}

.font2{
  font-family: cursive, lucida;
}

.future-img{
  width: 180px;
  height: 180px;
  margin: 15px;
}

.photo-name{
  margin-top:0px;
  margin-left: 15px;
}